In [1]:
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.9.13

# Objetos

Em Python, tudo é Objeto!

In [2]:
# Criando uma lista
lst_num = ["Data", "Science", "Academy", "Nota", 10, 10]

In [3]:
# A lista lst_num é um objeto, uma instância da classe lista em Python
type(lst_num)

list

In [4]:
print(type([]))

<class 'list'>

In [5]:
lst_num.count(10)

2

In [7]:
# Usamos a função type para verificar o tipo de um objeto
print(type(10))
print(type([]))
print(type(()))
print(type({}))
print(type('a'))

<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'str'>

In [8]:
# Criando um novo tipo de objeto chamado Carro
class Carro:
    pass

In [10]:
# Instância do Carro
ferrari = Carro()

In [11]:
print(type(ferrari))

<class '__main__.Carro'>

In [12]:
# Criando uma classe
class Estudantes:
    def __init__(self, nome, idade, nota):
        self.nome  = nome
        self.idade = idade
        self.nota  = nota

In [13]:
# Criando um objeto chamado Estudante1 a partir da classe Estudantes
Estudante1 = Estudantes("Bob", 12, 9.5)

In [14]:
# Atributo da classe Estudante, utilizado por cada objeto criado a partir desta classe
Estudante1.nome

'Bob'

In [15]:
# Atributo da classe Estudante, utilizado por cada objeto criado a partir desta classe
Estudante1.idade

12

In [17]:
# Atributo da classe Estudante, utilizado por cada objeto criado a partir desta classe
Estudante1.nota

9.5

In [27]:
# Criando uma classe
class Funcionario:
    
    def __init__(self, nome, salario, cargo):
        self.nome    = nome
        self.salario = salario
        self.cargo   = cargo
        
    def listFunc(self):
        print("Funcionário(a) " + self.nome + " tem salário de R$" + str(self.salario) + " e o cargo é " + self.cargo)

In [28]:
# Criando um objeto chamado Func1 a partir da classe Funcionarios
Func1 = Funcionario("Mary", 20000, "Cientista de Dados")

In [29]:
# Usando o método da classe
Func1.listFunc()

Funcionário(a) Mary tem salário de R$20000 e o cargo é Cientista de Dados

In [30]:
print("**** Usando Atributos ****")

**** Usando Atributos ****

In [31]:
# hasattr -> tem o atributo?
hasattr(Func1, 'nome')

True

In [32]:
# hasattr -> tem o atributo?
hasattr(Func1, 'salario')

True

In [42]:
# setattr -> configure o atributo.
# Ou crie um novo atributo
setattr(Func1, 'salario', 4500)

In [34]:
hasattr(Func1, 'salario')

True

In [35]:
# getattr -> retorne o valor do atributo
getattr(Func1, 'salario')

4500

In [40]:
# delattr -> delete o atributo
delattr(Func1, 'salario')

In [43]:
hasattr(Func1, 'salario')

False