In [2]:
# Versão da Linguagem Python 
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.9.13

Guia de Usuário do Pandas:

https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html#user-guide

In [3]:
# Instala a versão exata do pacote
!pip install -q pandas==1.5.3

In [4]:
import pandas as pd

In [5]:
pd.__version__

'1.5.3'

# Manipulando Dados em DataFrames do Pandas

In [6]:
# Cria um dicionário
dados = {'Estado': ['Santa Catarina', 'Rio de Janeiro', 'Tocantis', 'Bahia', 'Minas Gerais'],
         'Ano': [2004, 2005, 2006, 2007, 2008],
         'Taxa Desemprego': [1.5, 1.7, 1.6, 2.4, 2.7]}

In [10]:
print(dados)

{'Estado': ['Santa Catarina', 'Rio de Janeiro', 'Tocantis', 'Bahia', 'Minas Gerais'], 'Ano': [2004, 2005, 2006, 2007, 2008], 'Taxa Desemprego': [1.5, 1.7, 1.6, 2.4, 2.7]}

In [7]:
# Importa a função DataFrame do Pandas
from pandas import DataFrame

In [8]:
# Converte o dicionário em um dataframe
df = DataFrame(dados)

In [9]:
# Visualiza as 5 primeiras linhas
df.head()

           Estado   Ano  Taxa Desemprego
0  Santa Catarina  2004              1.5
1  Rio de Janeiro  2005              1.7
2        Tocantis  2006              1.6
3           Bahia  2007              2.4
4    Minas Gerais  2008              2.7

In [11]:
type(df)

pandas.core.frame.DataFrame

In [12]:
DataFrame(dados, columns=['Estado', 'Taxa Desemprego', 'Ano'])

           Estado  Taxa Desemprego   Ano
0  Santa Catarina              1.5  2004
1  Rio de Janeiro              1.7  2005
2        Tocantis              1.6  2006
3           Bahia              2.4  2007
4    Minas Gerais              2.7  2008

In [13]:
# Criando outro dataframe com os mesmo dados anteriores mas adicionando uma coluna
df2 = DataFrame(dados,
                columns=['Estado', 'Taxa Desemprego', 'Taxa Crescimento', 'Ano'],
                index=['estado1', 'estado2', 'estado3', 'estado4', 'estado5'])

In [15]:
df2

                 Estado  Taxa Desemprego Taxa Crescimento   Ano
estado1  Santa Catarina              1.5              NaN  2004
estado2  Rio de Janeiro              1.7              NaN  2005
estado3        Tocantis              1.6              NaN  2006
estado4           Bahia              2.4              NaN  2007
estado5    Minas Gerais              2.7              NaN  2008

In [16]:
df2.values

array([['Santa Catarina', 1.5, nan, 2004],
       ['Rio de Janeiro', 1.7, nan, 2005],
       ['Tocantis', 1.6, nan, 2006],
       ['Bahia', 2.4, nan, 2007],
       ['Minas Gerais', 2.7, nan, 2008]], dtype=object)

In [17]:
df2.dtypes

Estado               object
Taxa Desemprego     float64
Taxa Crescimento     object
Ano                   int64
dtype: object

In [18]:
df2.columns

Index(['Estado', 'Taxa Desemprego', 'Taxa Crescimento', 'Ano'], dtype='object')

In [19]:
# Imprimindo apenas uma coluna do DataFrame
df2['Estado']

estado1    Santa Catarina
estado2    Rio de Janeiro
estado3          Tocantis
estado4             Bahia
estado5      Minas Gerais
Name: Estado, dtype: object

In [20]:
# Linguagem Python é case sensitive
# df2['estado']

KeyError: 'estado'

In [21]:
# Imprimindo apenas duas colunas do DataFrame
df2[['Taxa Desemprego', 'Ano']]

         Taxa Desemprego   Ano
estado1              1.5  2004
estado2              1.7  2005
estado3              1.6  2006
estado4              2.4  2007
estado5              2.7  2008

In [22]:
df2.index

Index(['estado1', 'estado2', 'estado3', 'estado4', 'estado5'], dtype='object')

In [27]:
# Filtrando pelo índice
# axis = 0 -> Linha
# axis = 1 -> Coluna
df2.filter(items = ['estado3'], axis=0)

           Estado  Taxa Desemprego Taxa Crescimento   Ano
estado3  Tocantis              1.6              NaN  2006

In [ ]:
# Manipulando Dados em DataFrames do Pandas - parte 2/2 -> Parei Nesse video